# --- Compilados ---
**/target/
**/bin/
*.class

# --- IDEs ---
.idea/
.vscode/
**/launch.json
**/settings.json
*.iml
*.ipr
*.iws
.settings/
.classpath
.project

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

# --- Variáveis de ambiente (Segurança) ---
.env
.env.*
# Permite versionar o modelo seguro de variáveis
!.env.example
!**/.env.example
